venv/
.env
.DS_Store
.ipynb_checkpoints/
.vscode/

# for the proj
Proj/jkp_data.parquet
Proj/files/
Proj/.claude/

# for the NN

Proj/NN/files/models/
Proj/NN/__pycache__/
Proj/NN/files/hunloss/models/